@charset "utf-8";

img {
    border: 0 /* Evita que bordas pretas apareçam em imagens no IE */
}

/* Autocomplete with vertical scrollbar */
.ui-autocomplete { height: 175px; overflow-y: scroll; overflow-x: hidden;}

/* ----------  CSS RESET  ---------- */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 2px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
	blockquote:before, blockquote:after, q:before, q:after 	{ content: ''; content: none; }
	body			{ margin:0 auto; background-color:#FFFFFF; background-image:url('../imagens/bg2_NEW.jpg'); background-position:center top; background-repeat:repeat-x; font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; font-weight:normal; font-size:16px; /*line-height: 1.3; */
					}
	ol, ul 			{ list-style: none; }
	table 			{ border-collapse: collapse;	border-spacing: 6px; }
	blockquote, q 		{ quotes: none; }
	
	a		{ text-decoration:underline; color:#4A4C50; outline:none;}
	h1		{ font-weight: bold; font-size: 40px; color:#4A4C50; font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	h2		{ font-weight: bold; font-size: 30px; color:#4A4C50; font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	h3		{
	font-weight: bold;
	font-size: 25px;
	color: #4A4C50;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
}
	h4		{ font-weight: bold; font-size: 20px; color:#4A4C50; font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	h5		{ font-weight: normal; font-size: 14px; color:#4A4C50; font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;  }
	h6		{ font-weight: normal; font-size: 12px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;  }



/* ----------  ESTRUTURA  ---------- */

	
	.wrap 		 	{ width:100%; margin:0 auto;  }

	

/* ----------  HEADER  ---------- */	
	
	.wrap .header			 			{ width:960px; height:165px; margin:0 auto;  }

/* ----------  LOGO  ---------- */
	.wrap .header .logo	 				{ width:464px; float:left;  }
	.wrap .header .titulo	 			{ width:300px; float:right; margin-top:20px;   }
	.wrap .header .titulo .txt	 			{ width:300px; height:76px; float:left; background-image:url('../imagens/bg_ferramenta.png'); background-repeat:no-repeat; }
	.wrap .header .titulo .txt ul li h2 { font-size:20px; margin-left:80px; color:#FFF; margin-top:5px;}
	.wrap .header .logo .lg				{ width:464px; height:95px; float:left; margin-top:13px; text-indent:-99999em;background-image:url('../imagens/lg_copy.png');  }



/* ----------  MENU  ---------- */
	.wrap .header .menu					{ width:570px; height:70px; margin-top:20px; float:left; background:url('../imagens/bg_menu.jpg'); background-repeat:repeat-x;  }
	.wrap .header .menu .tit_login		{ width:176px; height:40px; float:left; margin-top:-18px; position:absolute; background-image:url('../imagens/img_login.png'); background-repeat:no-repeat; }
	.wrap .header .menu .mn				{ width:590px; height:73px; float:left;  margin-top:-12px;background-image:url('../imagens/bg_menu.png'); }
	.wrap .header .menu .mn .menu_bts			{ width:475px; height:73px; float:left; margin-left:70px;   }
	.wrap .header .menu .mn .form				{ width:465px; height:50px; float:left; margin-left:68px;  margin-top:30px; }	
	.wrap .header .menu .mn .form .campo1				{ width:210px; height:23px; float:left;  font-size:12px; font-weight:normal; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;   }
	.wrap .header .menu .mn .form .campo2				{ width:170px; height:23px; float:left; font-weight:normal; font-size:12px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;   }
	.wrap .header .menu .mn .form .bt				{ width:75px; height:27px; float:left;    }
	
	
	


/* ----------  CONTENT  ---------- */	
	.wrap .content						{/*width:960px; margin:0 auto;*/ margin-top:10px; padding: 20px;}
	
	/* ----------  home  ---------- */	
	.wrap .content .home 				{ width:900px; float:left; margin-top:60px;  }
	.wrap .content .home .txt 				{ width:900px; float:left; text-align:center; font-weight: bold; font-size: 15px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	
/* ---------- bloco_internas  ---------- */
	.wrap .content .navegador				{ width:660px; float:left; margin-left:15px; font-weight: bold; font-size: 12px; margin-top:20px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; text-align:right; }
	.wrap .content .bloco				{ /*width:1050px;*/ padding:20px; min-height:350px; background-color:#F2F2F2; border: #b1b1b1 solid 2px; }
        .wrap .content .bloco .cabecalho                {margin: 10px; border: #b1b1b1 solid 2px;}
        .wrap .content .bloco .cabecalho .dados_pessoais{margin: 25px; float:left;}
        .wrap .content .bloco .dados_familia            {margin: 78px;}
	.wrap .content  .tit_sub_cat			{ width:600px; margin-left: 20px; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; height:35px; display:block;  }


	
	.wrap .content .bloco .txt				{ width:600px; margin-top:20px; float:left; margin-left:15px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;  }
	.wrap .content .bloco .txt2				{ width:300px; margin-top:20px; float:left; margin-left:15px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;  }
	.wrap .content .bloco .total			{ width:300px; margin-top:20px; float:left; margin-left:15px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;  }
	
	.wrap .content .bloco form fieldset	{border:none;}	
	
	.wrap .content .bloco form fieldset label		{   color:#4A4C50; float:left; width:320px; /*display:block;*/ margin-top:6px;  margin-left:2px; font-size:13px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	
	.wrap .content .bloco form fieldset input,select	{
	width: auto;
	margin: 2px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	/*display: block;*/
}
	
/* ---------- cadastro- servi�os  ---------- */

	.wrap .content .bloco .tit_serv{ background-color:#959595; color:#FFF;  width:600px; margin-top:15px; height:25px; float:left; padding:5px; font-weight:bold; text-align:center; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	.wrap .content .bloco .tb { background-color:#E2E2E2;  width:600px; height:20px; float:left; padding-top:5px; padding-left:10px; font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	.wrap .content .bloco .bt { width:30px; margin-right:10px; float:right; margin-top:15px;}
	
/* ---------- cadastro- OS  ---------- */	
	.wrap .content .bloco .tb2 {  margin-left:6px; width:115px;  float:left; }
	.wrap .content .bloco .tb2 .subtit2 { background-color:#D4D4D4;  width:110px; padding-top:5px; padding-left:5px; height:20px; float:left;  font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	.wrap .content .bloco .tb2 .lin { background-color:#EFEFEF;  width:115px; height:20px; float:left; font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
		
	/* ---------- cadastro  ---------- */	
	.wrap .content .menu_cadastros				{ width:230px; float:left; font-weight: bold; font-size: 15px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; margin-top:-10px; }
	.wrap .content .menu_cadastros	.tit			{ width:230px; float:left; text-align:left; font-weight: bold; font-size: 25px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	.wrap .content .menu_cadastros	.bts			{ width:224px; height:39px; float:left; font-weight: bold; margin-bottom:35px; font-size: 18px;  } /* background-image:url('../imagens/bg_itens_submenu.png'); */
	.wrap .content .menu_cadastros	.bts ul  			{color:#4A4C50;   font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }	
	.wrap .content .menu_cadastros .bts ul li 			{ margin-top:8px; text-align:left; margin-left:20px; }		
	.wrap .content .menu_cadastros .bts ul li a 			{ text-decoration:none;color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }	
	.wrap .content .menu_cadastros .bts ul li a:hover 			{text-decoration:none; text-decoration:none;color:#206DA6; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }	
	

	
	/* ---------- relatorio  ---------- */	
	.wrap .content .menu_relatorios				{ width:230px; float:left; font-weight: bold; font-size: 15px; margin-top:-10px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	.wrap .content .menu_relatorios .tit			{ width:230px; float:left; text-align:left; font-weight: bold; font-size: 25px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	.wrap .content  .menu_relatorios .bts			{ width:224px; height:39px; margin-bottom:35px; float:left; font-weight: bold; font-size: 18px; }
	.wrap .content  .menu_relatorios .bts ul  			{color:#4A4C50;   font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;  }	
	.wrap .content .menu_relatorios .bts ul li 			{ margin-top:8px; text-align:left; margin-left:20px; }		
	.wrap .content .menu_relatorios .bts ul li a 			{ text-decoration:none;color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;  }	
	.wrap .content .menu_relatorios	.bts ul li a:hover 			{ text-decoration:none; text-decoration:none;color:#206DA6; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;  }	

	/* ---------- relatorio-materiais  ---------- */	
	.wrap .content .bloco .bt_busca1 { float:left;}
	
/* ---------- relatorio  - Funcionarios  ---------- */	
	.wrap .content .bloco .tb3 {  margin-left:6px; width:200px;  float:left; }
	.wrap .content .bloco .tb3 .subtit3 { background-color:#D4D4D4;  width:200px; padding-top:5px; padding-left:5px; height:20px; float:left;  font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	.wrap .content .bloco .tb3 .lin { background-color:#EFEFEF;  width:200px; height:20px; float:left; font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
			
/* ---------- relatorio  - Clientes  ---------- */	
	.wrap .content .bloco .tb4 {  margin-left:6px; width:300px;  float:left; }
	.wrap .content .bloco .tb4 .subtit4 { background-color:#D4D4D4;  width:300px; padding-top:5px; padding-left:5px; height:20px; float:left;  font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	.wrap .content .bloco .tb4 .lin { background-color:#EFEFEF;  width:300px; height:20px; float:left; font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	
			
/* ---------- relatorio  - servicos  ---------- */	
	.wrap .content .bloco .tb5 {  margin-left:6px; width:150px;  float:left; }
	.wrap .content .bloco .tb5 .subtit5 { background-color:#D4D4D4;  width:150px; padding-top:5px; padding-left:5px; height:20px; float:left;  font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	.wrap .content .bloco .tb5 .lin { background-color:#EFEFEF;  width:150px; height:20px; float:left; font-size:12px; border-bottom:1px solid #CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
			

	
/* ---------- SOBRE  ---------- */
	.wrap .content .sobre				{ width:660px; float:left; margin-left:15px; font-weight: bold; font-size: 25px; margin-top:20px; color:#4A4C50; font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; text-align:left; }


	


/* ----------  FOOTER  ---------- */	
	.wrap .footer { width:100%; height:130px; background-image:url('../imagens/bg_rod.png'); background-position:center top; float:left; margin-top:20px; }
	.wrap .footer .foot {width:960px; margin:0 auto;}
	.wrap .footer .foot .lg { width:268px; height:65px; float:left;  margin-top:6px; margin-left:10px; background-image:url('../imagens/lg_prime_clean.png'); background-repeat:no-repeat; text-indent:-99999em;  }
	.wrap .footer .foot .copyright { width:960px; margin:0 auto; margin-top:120px; font-size:10px; color:#999; text-align:center; font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; }
	.wrap .footer .foot .copyright a { font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif; color:#999;}


/*-----------  Auto Complete em vIncluirPessoaCurso.php*/
        .suggestionsBox {
		position: relative;
		left: 30px;
		margin: 10px 0px 0px 0px;
		width: 400px;
		background-color: #FFF;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #000;
	}
	
	.suggestionList {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionList li {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList li:hover {
		background-color: #659CD8;
	}
